{% extends 'base.html.twig' %}

{% block title %}
	Register
{% endblock %}

{% block body %}
	<h1>Register</h1>

	{{ form_start(registrationForm) }}
	<div class="form-group">
		{{ form_row(registrationForm.email,{'attr': {'class': 'form-control', 'type':'email'}}) }}
	</div>
	{{ form_start(registrationForm) }}

	<div class="form-group">
		{{ form_row(registrationForm.lastName,{'attr': {'class': 'form-control', 'type':'text'}}) }}
	</div>
	<div class="form-group">
		{{ form_row(registrationForm.firstName,{'attr': {'class': 'form-control', 'type':'text'}}) }}
	</div>

	<div class="form-group">
		{{ form_row(registrationForm.plainPassword, {'label': 'Password','attr': {'class': 'form-control', 'type':'password'}}) }}
	</div>

	<div class="form-check">
		{{ form_row(registrationForm.agreeTerms, {'label':'Agree to terms', 'attr':{'type':'checkbox'}}) }}
	</div>


	<button type="submit" class="btn btn-primary">Register</button>
	{{ form_end(registrationForm) }}
{% endblock %}
