{% extends 'base.html.twig' %}

{% block title %}Post index
{% endblock %}

{% block body %}
	<h1>Post index</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Titre</th>
				<th>Resumé</th>
				<th>Contenu</th>
				<th>Créé le</th>
				<th>Auteur</th>
				<th>Image</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for post in posts %}
				<tr>
					<td>{{ post.id }}</td>
					<td>{{ post.titre }}</td>
					<td>{{ post.resume }}</td>
					<td>{{ post.contenu }}</td>
					<td>{{ post.createdAt ? post.createdAt|date('d-m-Y H:i:s') : '' }}</td>
					<td>{% if post.user is empty %}
                    Anonyme
                    {% else %}
                           {{post.user.username}}
                    {% endif %}</td>
					<td>
                    <img class="img-thumbnail uploads" src="{{asset('uploads/images/')}}{{ post.image }}"></td>
					<td>
						<a href="{{ path('post_show', {'id': post.id}) }}">
							<button class="btn btn-primary">Montrer</button>
						</a>
                        {% if is_granted('EDIT', post) %} 
                        <br>
						<a href="{{ path('post_edit', {'id': post.id}) }}">
							<button class="btn btn-info">Éditer</button>
						</a>
                        {% endif %}
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="8">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('post_new') }}">
		<button class="btn btn-primary">Créer nouveau post</button>
	</a>
{% endblock %}
