{% extends 'base.html.twig' %}

{% block title %}Post index{% endblock %}

{% block body %}
<div class="container">
    <h1>Post index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Resume</th>
                <th>Crée le</th>
                <th>Auteur</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <td>{{ post.id }}</td>
                <td>{{ post.titre }}</td>
                <td>{{ post.resume }}</td>
                <td>{{ post.createdAt ? post.createdAt|date('d-m-Y H:i:s') : '' }}</td>
                <td>
                    {%  if post.user is empty %}
                        Anonymous
                    {% else %}
                        {{ post.user }}
                    {% endif %}
                </td>
                <td> <img class="img-thumbnail" src="{{ post.image }}"></td>
               <td>
                    <a href="{{ path('post_show', {'id': post.id}) }}">show</a>

                    {% if is_granted('EDIT', post) %}
                    
                        <a href="{{ path('post_edit', {'id': post.id}) }}">edit</a>
                    {% endif %}
                    
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('post_new') }}"> <button class="btn btn-primary"> Ajouter un article </button></a>
</div>
{% endblock %}
