{% extends 'base.html.twig' %}

{% block title %}Article
{% endblock %}

{% block body %}
	<h1>Article</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ article.id }}</td>
			</tr>
			<tr>
				<th>Title</th>
				<td>{{ article.title }}</td>
			</tr>
			<tr>
				<th>Description</th>
				<td>{{ article.description }}</td>
			</tr>
			<tr>
				<th>Created at</th>
				<td>{{article.getCreatedAtFormatted('l')}}</td>
			</tr>
			<tr>
				<th>Image</th>
				{% if '.' in article.image %}
					{% if article.image starts with 'http' %}
						<td><img class="rounded mx-auto d-block" src="{{article.image}}"/></td>
					{% else %}
						<td><img class="rounded mx-auto d-block" src="{{ asset('/images/articles/') }}{{article.image}}"/></td>
					{% endif %}

				{% else %}
					<td>NoImg</td>
				{% endif %}
			</tr>
		</tbody>
	</ht>

</tr></tbody></table><a href="{{ path('article_index') }}">back to list</a>{% if is_granted('EDIT',article) %}<a href="{{ path('article_edit', {'id': article.id}) }}">edit</a>{% endif %}{{ include('article/_delete_form.html.twig') }}{% endblock %}
